{% extends 'base.html.twig' %}

{% block title %}Recipes CRUD - Acceuil{% endblock %}

{% block body %}
    <div class="jumbotron">
  <h1 class="display-4">Welcome to Recipes - CRUD !</h1>
  <p class="lead"> Recipes CRUD is a simple CRUD application that allows you to manage recipes. You can create, read, update, and delete recipes. </p>
  <hr class="my-4">
  <p>to start using the application, sign up or log in.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
{% endblock %}